* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}


body {
  background: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  width: 320px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

img {
  width: 290px;
  height: 300px;
  border-radius: 10px;
}

.image-container {
  margin: 15px;
  margin-bottom: 7px;
  padding: 2px 0px 2px;
}

.text-container {
  margin: 0px;
  padding: 10px 0px 30px 37px;
}

#top-text {
  color:  hsl(218, 44%, 22%);
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  height: auto;
}

p {
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  padding-right: 43px;
  text-align: center;
}

